node_modules
.claude/settings.local.json
dist/*
.DS_Store
.cursor
.vscode
.npmrc
*storybook.log
storybook-static/*
*.zip
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
tsconfig.app.tsbuildinfo
tsconfig.node.tsbuildinfo
*.app.tsbuildinfo
*.node.tsbuildinfo
tsconfig.app.tsbuildinfo
.agents/skills
.kiro
.continue