name: Code Analysis

on: pull_request

permissions:
    contents: read

# Cancels all previous workflow runs for pull requests that have not completed.
concurrency:
    # The concurrency group contains the workflow name and the branch name for pull requests
    # or the commit hash for any other events.
    group: ${{ github.workflow }}-${{ github.event_name == 'pull_request' && github.head_ref || github.sha }}
    cancel-in-progress: true

jobs:
    analysis:
        runs-on: ubuntu-latest

        strategy:
            matrix:
                node: ['20']

        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Use desired version of NodeJS
              uses: actions/setup-node@v4
              with:
                  node-version: ${{ matrix.node }}

            - name: Cache NPM packages
              uses: actions/cache@v4
              with:
                  # npm cache files are stored in `~/.npm` on Linux/macOS
                  path: ~/.npm
                  key: ${{ runner.os }}-node-${{ matrix.node }}-npm-cache-${{ hashFiles('**/package-lock.json') }}

            - name: Install dependencies
              run: npm ci

            - name: Lint JS
              if: always()
              run: npm run lint:js

            - name: Lint CSS
              if: always()
              run: npm run lint:css
