name: BSF Code Reviewer

on:
    pull_request:
        types: [opened, synchronize, edited]

permissions:
    contents: read
    pull-requests: write

jobs:
    CHECK_SHORTCODE:
        if: contains(github.event.pull_request.body, '[BSF-PR-SUMMARY]')
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Repository
              uses: actions/checkout@v4

            - name: WRITE PR SUMMARY
              uses: brainstormforce/pull-request-reviewer@d38b1e07527dd20ad58fd2407648e9689edc54de # master
              with:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
                  ACTION_CONTEXT: 'CHECK_SHORTCODE'
                  EXCLUDE_EXTENSIONS: 'md, yml, lock'
                  INCLUDE_EXTENSIONS: 'php, js, jsx, ts, tsx, css, scss, html, json'
                  EXCLUDE_PATHS: 'node_modules/'

    CODE_REVIEW:
        needs: CHECK_SHORTCODE
        if: always()
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Repository
              uses: actions/checkout@v4

            - name: AI CODE REVIEW
              uses: brainstormforce/pull-request-reviewer@d38b1e07527dd20ad58fd2407648e9689edc54de # master
              with:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
                  ACTION_CONTEXT: 'CODE_REVIEW'
                  EXCLUDE_EXTENSIONS: 'md, yml, lock'
                  INCLUDE_EXTENSIONS: 'php, js, jsx, ts, tsx, css, scss, html, json'
                  EXCLUDE_PATHS: 'node_modules/'
